.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  margin: 0;
  color: rgb(218, 218, 218);
  background: #232323;
  background-repeat: no-repeat;
  height: 100vh;
}
@font-face {
  font-family: "Firacoderegular";
  src: url("./Firacoderegular.ttf");
}

@font-face {
  font-family: "SFProDisplay-Thin";
  src: url("./SFProDisplay-Thin.ttf");
}

@font-face {
  font-family: "SFProDisplay-Regular";
  src: url("./SFProDisplay-Regular.ttf");
}

.main{
  display: flex;
  flex-direction: column
}

.yarn{
  color: rgb(163, 163, 163)
}

.tympanus{
  font-family: "SFProDisplay-Thin";
  text-decoration: none;
  font-size: 18px;
  color: rgb(218, 218, 218);
}

span{
  color:#499bb2
}

.install{
  margin-top: -5px;
  font-family: "Firacoderegular";
  border: 1px solid transparent;
  border-radius: 3px;
  background: #363636;
  width: 290px;
  font-size: 16px;
  line-height: 5px;
  padding-left: 10px
}

.toggleSelect{
  width: 200px;
  margin-top: -20px;
  margin-bottom: 40px;
  color: rgb(73, 73, 73)
}
